---
---

@import "minima";

body {
  background-color: #e0e0e0;
}

.site-header {
  background-color: #b8c4d9;
  border-top: none;
  border-bottom: none;
}

.site-title,
.site-nav .page-link {
  color: #2c3e50;
}
